package pages

import "github.com/MAlshaik/marked/templates/layouts"

templ IndexPage() {
    @layouts.Base() {
        <h1 class="text-3xl font-bold mb-8 text-center text-foreground">Markdown editor</h1>
    }
}

